__astcache/
__history/
__recovery/
Helpers/__recovery/
Win32/Debug/
Server/Win32/Debug/
SOAP Server/WIn32/Debug/
REST Server/WIn32/Debug/
Staticlib/Win32/Debug/
DynamicLib/Win32/Debug/
Manual/
Samples/
Avatars/

# Exclude intermediate language files
*.ilc
*.ild
*.ilf
*.ils

# Exclude map files
*.map

# Exclude Turbo Debugger symbol files
*.tds

# Exclude Disk Image files
*.pdi

# Exclude local settings
*.cbproj.local
*.groupproj.local